*{
    padding: 0;
    margin: 0;
}

#logo{
    max-width: 100%;
}

#logoUCSD{
    position: sticky;
    top: 0;
    background-color: white;
}


#logoAthletics{
    background-color: rgb(245, 240, 230);
}

#logoColleges{
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
}

#Section2{
    color: white
}

#Section2P{
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }

li {
    float: left;
}

li a {
    display: block;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #182b49;
    color: white;
}

#Section3{
    background-color: rgb(245, 240, 230);
}

.wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
    padding: 10px;
    background-color: rgb(245, 240, 230)
}

.wrapper > div{
    text-align: left;
    padding: 10px 10px;
    float: left;
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
}

@media screen and (max-width: 800px) {
    ul{
        display: none;
    }
    #logo{
        max-width: 75%;
    }
    h2{
        font-size: 24px;
        color: pink;
    }
    p{
        font-size: 20;
        color: pink;
    }

    #Section2{
        font-size: 24px;
        color: pink;
    }

    #Section2P{
        font-size: 20px;
        color:pink;
    }

    .wrapper{
        display: grid;
        grid-template-columns: auto auto;
        gap: 25px;
        padding: 10px;
        background-color: rgb(245, 240, 230)
    }
    
    .wrapper > div{
        text-align: left;
        padding: 10px 10px;
        float: left;
        background-color: #182b49;
        color: white;
        max-height: 500px;
        overflow: scroll;
    }
}