*{
    padding: 0;
    margin: 0;
}

#logoAthletics{
    background-color: rgb(245, 240, 230);
}

#logoColleges{
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }

li {
    float: left;
}

li a {
    display: block;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #182b49;
    color: white;
}